@inject IHtmlLocalizer<Web.Areas.Example.Visitors.IndexVisitorsListViewModel> ModelLocalizer
@model Web.Areas.Example.Visitors.IndexVisitorsListViewModel
@{
    ViewData["Title"] = "Visitatori";
}
@section styles {
}

@section pageTitle{
    <div class="row justify-content-center mt-2">
        <div class="col-12 col-sm-4 text-center text-sm-end align-self-center fs-6 fw-semibold text-dark">
            @ViewData["Title"] <small class="text-muted" title="numero di elementi individuati con i filtri attuali">(@Model.TotalItems.ToString("N0"))</small>
        </div>
        <div class="col-12 col-sm-4 text-center text-sm-start align-self-center">
            <a class="btn btn-light ms-2" href="@Url.Action(MVC.Example.Visitors.New())" title="Inserisci un nuovo elemento">
                <i class="fa-solid fa-plus"></i>&nbsp;Nuovo
            </a>
        </div>
    </div>
}
@section pageSubtitle{
        <form method="get" id="annullaRicerca">
        </form>
        <form class="" method="get" autocomplete="off">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 text-center">
                    <label asp-for="Filter"></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-fw fa-magnifying-glass"></i></span>
                        <input asp-for="Filter" class="form-control" />
                    </div>
                </div>

                <div class="col-12 col-sm-2 text-start pt-2 mt-auto text-nowrap">
                    <button class="btn btn-primary" type="submit">
                        Cerca
                    </button>
                    <button class="btn btn-link" type="button" title="Annulla tutti i parametri della ricerca" onclick="document.getElementById('annullaRicerca').submit();">
                        Azzera ricerca
                    </button>
                </div>
            </div>
        </form>
}
<div style="margin-top: 10vh">

    <div class="container-fluid">
        <div class="sticky-top text-center fs-2 fw-semibold">Visitatori</div>
        @if (Model.Visitors.Any() == false)
        {
            <div class="row">
                <div class="col-12">
                    <label>Nessun elemento trovato con i filtri correnti</label>
                </div>
            </div>
        }
        else
        {
            @foreach (var visitor in Model.Visitors)
            {
                <div class="row justify-content-center text-nowrap" onclick="javascript:utilities.navigateUrlExcludeOnitNotNavigate('@Url.Action(MVC.Example.Visitors.Edit(visitor.Id))')" title="@ModelLocalizer["Modifica visitatore"] @visitor.Email">
                    <div class="col-12 col-md-8 text-center mt-2 border border-3 border-secondary shadow rounded-pill text-bg-light">
                        <div class="row align-items-center justify-content-around justify-content-sm-center my-3">
                            <div class="col-6 col-sm-4">
                                <a class="link-offset-1 fs-5 fw-semibold" href="@Url.Action(MVC.Example.Visitors.Edit(visitor.Id))" title="@ModelLocalizer["Modifica visitatore"] @visitor.Email">@visitor.FirstName @visitor.LastName</a>
                                <p class="mb-0 fs-5">@visitor.Email</p>
                                <p class="mb-0 fs-5">@visitor.EntryTime.ToString("HH:mm")</p>
                            </div>
                            <div class="col-4 d-none d-sm-block">
                                <label class="fs-4 fw-semibold">@visitor.Company</label>
                            </div>
                            <div class="col-6 col-sm-4">
                                <button class="check-out btn btn-danger">Check-out</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    
        <div class="row">
            <div class="col-12 p-0">
                <footer>
                    <tr>
                        <td colspan="3">
                            <nav class="navbar navbar-expand justify-content-center">
                                <ul class="navbar-nav flex-wrap"><partial name="@MVC.Shared.Views._PagingPartial" model="Model" /></ul>
                            </nav>
                        </td>
                    </tr>
                </footer>
            </div>
        </div>
    </div>
</div>