@model Template.Web.Infrastructure.PagingViewModel
<li class="navbar-text text-nowrap">
    <span class="font-weight-light pe-3" title="@SharedLocalizer["numero di elementi individuati con i filtri attuali"]">@Model.TotalItems @SharedLocalizer["elementi"]</span>
</li>
<li class="navbar-text text-nowrap">
    @SharedLocalizer["Pagina"] @Model.Page @SharedLocalizer["di"] @Model.TotalPages()&nbsp;
</li>
@if (Model.Page <= 1)
{
    <li>
        <a class="nav-link disabled" href="#">
            <i class="fa-solid fa-angle-double-left" aria-hidden="true"></i>
        </a>

    </li>
    <li>
        <a class="nav-link disabled" href="#">
            <i class="fa-solid fa-angle-left" aria-hidden="true"></i>
        </a>
    </li>
}
else
{
    <li>
        <a class="nav-link" href="@Model.FirstPageUrl(Url)" title="@SharedLocalizer["Vai alla prima pagina"]">
            <i class="fa-solid fa-angle-double-left" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a class="nav-link" href="@Model.PrevPageUrl(Url)" title="@SharedLocalizer["Vai alla pagina precedente"]">
            <i class="fa-solid fa-angle-left" aria-hidden="true"></i>
        </a>
    </li>
}
<li>
    <select class="form-select onit-page-title-pagesize" title="@SharedLocalizer["Elementi per pagina"]" onchange="javascript:onit.navigateUrlWithoutHystory(this.value)">
        @foreach (var size in Model.PageSizeListItems)
        {
            @if (Model.PageSize.ToString() == size.Value)
            {
                <option value="@Model.ChangePageSizePageUrl(Url,Convert.ToInt32(size.Value))" selected>@size.Text</option>
            }
            else
            {
                <option value="@Model.ChangePageSizePageUrl(Url,Convert.ToInt32(size.Value))">@size.Text</option>
            }
        }
    </select>
</li>
@if (Model.Page >= Model.TotalPages())
{
    <li>
        <a class="nav-link disabled" href="#">
            <i class="fa-solid fa-angle-right" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a class="nav-link disabled" href="#">
            <i class="fa-solid fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </li>
}
else
{
    <li>
        <a class="nav-link" href="@Model.NextPageUrl(Url)" title="@SharedLocalizer["Vai alla pagina successiva"]">
            <i class="fa-solid fa-angle-right" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a class="nav-link" href="@Model.LastPageUrl(Url)" title="@SharedLocalizer["Vai all'ultima pagina"]">
            <i class="fa-solid fa-angle-double-right" aria-hidden="true"></i>
        </a>
    </li>
}
