@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model Template.Web.Infrastructure.PagingViewModel

<span class="text-muted text-nowrap pt-1">
    @SharedLocalizer["Pagina"] @Model.Page @SharedLocalizer["di"] @Model.TotalPages()&nbsp;
</span>
@if (Model.Page <= 1)
{

    <a class="btn btn-link disabled" href="#">
        <i class="fa-solid fa-angles-left" aria-hidden="true"></i>
    </a>


    <a class="btn btn-link disabled" href="#">
        <i class="fa-solid fa-angle-left" aria-hidden="true"></i>
    </a>

}
else
{
    <a class="btn btn-link" href="@Model.FirstPageUrl(Url)" title="@SharedLocalizer["Vai alla prima pagina"]">
        <i class="fa-solid fa-angles-left" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link" href="@Model.PrevPageUrl(Url)" title="@SharedLocalizer["Vai alla pagina precedente"]">
        <i class="fa-solid fa-angle-left" aria-hidden="true"></i>
    </a>
}

<select class="form-select" name="PageSize" title="@SharedLocalizer["Elementi per pagina"]" onchange="javascript:onit.navigateUrlWithoutHystory(this.value)">
    @foreach (var size in Model.PageSizeListItems)
    {
        @if (Model.PageSize.ToString() == size.Value)
        {
            <option value="@Model.ChangePageSizePageUrl(Url,Convert.ToInt32(size.Value))" selected>@size.Text</option>
        }
        else
        {
            <option value="@Model.ChangePageSizePageUrl(Url,Convert.ToInt32(size.Value))">@size.Text</option>
        }
    }
</select>

@if (Model.Page >= Model.TotalPages())
{
    <a class="btn btn-link disabled" href="#">
        <i class="fa-solid fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link disabled" href="#">
        <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
    </a>
}
else
{
    <a class="btn btn-link" href="@Model.NextPageUrl(Url)" title="@SharedLocalizer["Vai alla pagina successiva"]">
        <i class="fa-solid fa-angle-right" aria-hidden="true"></i>
    </a>
    <a class="btn btn-link" href="@Model.LastPageUrl(Url)" title="@SharedLocalizer["Vai all'ultima pagina"]">
        <i class="fa-solid fa-angles-right" aria-hidden="true"></i>
    </a>
}
