@inject IHtmlLocalizer<Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";

    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (Web.Areas.IdentitaViewModel)ViewData[Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas {
    @RenderSection("metas", false)
}
@section styles {
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />
    @RenderSection("styles", false)
}
<div id="pageId" class="gcorp-page">
    <div class="gcorp-page-sticky-top" id="gcorp-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img class="gcorp-suites-logo" src="~/images/app-logo.png" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/newvisitor">Check-In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/visitorslist">Visitors List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reports">Reports</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ms-auto gcorp-page-menu-user">
                        @if (identitaCorrente != null)
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <img class="user-profile-picture"
                                        src="@identitaCorrente.GravatarUrl" /> @identitaCorrente.EmailUtenteCorrente
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" role="menu">
                                    <a class="dropdown-item" href="javascript:void(0)"
                                        onclick="javascript: document.getElementById('POST_LogOut').submit()"
                                        title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                                        <i class="fa-solid fa-right-from-bracket"></i> @SharedLocalizer["Esci"]
                                    </a>
                                    <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())"
                                        id="POST_LogOut" display="none"></form>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>

@section googlehead {
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-', { 'anonymize_ip': true }); // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli
tecnici ed evitare l'obbligo del banner
</script>*@
}
@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
}