@inject IHtmlLocalizer<Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";

    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (Web.Areas.IdentitaViewModel)ViewData[Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas {
    @RenderSection("metas", false)
}
@section styles {
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/common.css" />
    @RenderSection("styles", false)
}

<div>
    <div>

        <div class="nav-bar">
            <div class="logo">
                <a href="/">
                    <img src="~/images/app-logo.png" />
                </a>
            </div>

            <div id="navbarSupportedContent" class="nav-links">
                <a aria-current="page" href="/newvisitor">Check-In</a>
                   
                <a href="/visitorslist">Visitors List</a>
                   
                <a href="/reports">Reports</a>
            </div>

            @if (identitaCorrente != null)
            {
             <div class="user nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img class="user-profile-picture"
                            src="@identitaCorrente.GravatarUrl" /> @identitaCorrente.EmailUtenteCorrente
                </a>
                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" role="menu">
                    <a class="dropdown-item" href="javascript:void(0)"
                        onclick="javascript: document.getElementById('POST_LogOut').submit()"
                        title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                        <i class="fa-solid fa-right-from-bracket"></i> @SharedLocalizer["Esci"]
                    </a>
                    <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())"
                            id="POST_LogOut" display="none"></form>
                </div>
             </div>
            }
        </div>
   
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>

@section googlehead {
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-', { 'anonymize_ip': true }); // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli
tecnici ed evitare l'obbligo del banner
</script>*@
}
@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
}