@inject IHtmlLocalizer<Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";

    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (Web.Areas.IdentitaViewModel)ViewData[Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas {
    @RenderSection("metas", false)
}
@section styles {
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/nav-bar.css" />
    @RenderSection("styles", false)
}

<div class="d-flex flex-column min-vh-100">

    <div>
        <div class="position-absolute" style="top: 1rem;" >
            <a href="/">
                <img src="~/images/app-logo.png" style="width: 225px;" />
            </a>
        </div>
        <div class="d-flex justify-content-center bg-body-tertiary shadow-lg py-0 mb-3 py-3 rounded-1 border">
            <nav class="navbar navbar-expand-lg  ">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-underline mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Newvisitor">Check-In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Example">Visitatori</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/Reports">Reports</a>
                            </li>
                        </ul>
                </div>
            </nav>
        </div>
        @RenderSection("pageTitle", false)
    </div>

    @RenderSection("pageSubtitle", false)
    @RenderBody()
    
    <footer class="mt-auto">
        <div class="row align-items-center">
            <div class="col-sm-4 d-none d-sm-block text-start">
                <a href="/">
                    <img src="~/images/visitrack-logo.png" style="width: 100px;"/>
                </a>
            </div>
            <div class="col-sm-4 text-center text-nowrap fw-semibold text-decoration-underline text-secondary">
                Copyright 2023 GlobalCorp S.p.a.
            </div>
            <div class="col-sm-4 d-none d-sm-block text-end">
                <a href="/">
                    <img src="~/images/visitrack-logo.png" style="width: 100px;" />
                </a>
            </div>
        </div>
    </footer>

</div>

@section googlehead {
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag() { dataLayer.push(arguments); }
gtag('js', new Date());
gtag('config', 'UA-', { 'anonymize_ip': true }); // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli
tecnici ed evitare l'obbligo del banner
</script>*@
}
@section scripts {
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    @RenderSection("scripts", false)
}